.header {
    background-color: #222;
    min-height: 75px;
    .flex();

    &-wrapper {
        width: 100%;
        .flex();
    }
    &-wrapper>div:first-child img {
        margin-left: 40px;
    }
    &-wrapper>nav img {
        margin-left: 35px;
    }
}